<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <table>
           <thead>
               <tr>
                   <th>Day</th>
                   <th>Total Tests</th>
                   <th>Confirmed Deaths</th>
                   <th>Confirmed Cases</th>
               </tr>
           </thead>
           <tbody>
               {% for row in output_data%}
                    <tr>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[5]}}</td>
                        <td>{{row[6]}}</td>
                    </tr>
                {% endfor %}
           </tbody>
       </table>
</body>
</html>