<!doctype html>
<html>
<head>
<style>
		*{	
		}
		.child{
    float: right;
		}
		@media (min-width: 768px){
			
		.parent{
		display: flex;	
		}
		}
	.div1 {
}
    body {
    background-color: #CAE0F1;
    text-align: center;
}
</style>
<meta charset="utf-8">
</head>
<body>

<section class="parent">
  <section class="child" style="font-size: 80px; font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;">
  <strong> COVID-19&nbsp;&nbsp;</strong> </section>
  <section class="child" style="font-size: 80px; font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;">
  <strong> &nbsp; &nbsp;|&nbsp; &nbsp; &nbsp; TOTAL CASES ( )</strong> </section>
	
</section>
	<br>
	<br>
<section class="parent">
  <section class="child" style="font-size: 30px">
	<span style="font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;SYMPTOMS&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="text-align: right"> </span></section>
	<span style="text-align: right">
	<section class="child" style="font-size: 30px; font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;"  
	>
	PROTECT YOURSELF</section>
  </span>
  <section class="child" style="font-size: 30px"  
	> </section>
</section>
	<br>
	
<section class="parent">
	<table width="500" border="1" class="div">
	  <tbody>
	    <tr>
	      <td>&nbsp;</td>
	    
        </tr>
	    <tr>
	      <td>&nbsp;</td>
	  
        </tr>
	    <tr>
	      <td>&nbsp;</td>
	   
        </tr>
      </tbody>
  </table>
		<section class="parent">
	
			<table width="500" border="1">
  <tbody>
    <tr>
      <th scope="col">&nbsp;</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

		</section>
	
</section>
	<br>
	<br>
	<br>
	<section class="parent">
	<section class="child" style="font-size: 14px; font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Website brought to you by: Oraz, Rose, Anubhav, and Austen</section>
</section>
	<section>
		<br>
		<br>
	</section>
<img src="AboutPageAssets/images/Web_Banner4x.png" width="800" height="400" alt=""/>    </section>
</body>
</html>
